footer {
  background-color: var(--secondary);
}
.footer-text {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer p,
footer h2 {
  color: white;
}
footer h2 {
  align-self: center;
}
.footer-message {
  font-size: 1.5rem;
}
address {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-links,
.footer-icon {
  display: none;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
  }

  .footer-text {
    padding: 0;
  }
  footer img {
    width: 25rem;
    height: auto;
  }
  .footer-links {
    display: flex;
    gap: 0.5rem;
  }
  a img {
    width: 3.5rem;
    height: 3.5rem;
  }
  .phone-container,
  .mail-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .footer-icon {
    display: block;
    width: 2rem;
    height: 2rem;
  }
}

@media (min-width: 1025px) {
  footer {
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem 3rem 2rem;
  }
  .footer-text {
    padding: 0;
    align-self: center;
  }
  footer img {
    width: 35rem;
    height: auto;
  }
  .footer-links {
    display: flex;
    gap: 0.5rem;
  }
  a img {
    width: 3.5rem;
    height: 3.5rem;
  }
  .phone-container,
  .mail-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .footer-icon {
    display: block;
    width: 2rem;
    height: 2rem;
  }
}
