.header-hero {
  background: linear-gradient(
    50deg,
    var(--primary) 0 65%,
    var(--secondary) 50% 100%
  );
  padding: 1.5rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  position: relative;
}

.header-hero::after {
  content: "";
  display: block;
  clear: both;
}

.photo {
  width: 30rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.content-photo {
  display: none;
}
.name {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  white-space: nowrap;
}
.content {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.content h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 300;
}
.content p {
  font-family: Roboto;
  color: var(--text-secondary);
  font-size: 1.5rem;
  font-weight: 300;
}

.hero-links {
  display: flex;
  gap: 0.5rem;
}
a img {
  width: 2.5rem;
  height: 2.5rem;
}
@media (min-width: 375px) and (max-width: 508px) {
  .name {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
  }
}

@media (min-width: 509px) and (max-width: 767px) {
  .name {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  .header-hero {
    background: linear-gradient(
      165deg,
      var(--secondary) 0%,
      var(--secondary) 50%,
      var(--primary) 50%,
      var(--primary) 100%
    );
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 5rem;
  }
  .photo {
    display: none;
  }
  .content-photo {
    display: block;
  }
  .photo-desktop {
    float: left;
    width: 20rem;
    margin-left: -3rem;
    margin-right: 2rem;
    margin-top: -4rem;
  }
  .content-photo-name {
    display: none;
  }
  .content {
    display: block;
    font-size: 1.05rem;
    line-height: 1.6;
    background-color: white;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  }
  .content:after {
    content: "";
    display: block;
    clear: both;
  }
  .name {
    top: 11%;
    left: 68%;
    font-size: 3rem;
    font-weight: 400;
  }
  .hero-links {
    padding: 0 2rem 1rem 2rem;
    display: flex;
    gap: 0.5rem;
    justify-self: flex-end;
  }
  .content h2 {
    padding-top: 2rem;
  }
  .content p {
    padding: 0 2rem 2rem 2rem;
  }
}
@media (min-width: 1024px) {
  .name {
    display: none;
  }
  .content {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 0;
  }

  .hero-links {
    grid-column: 2;
    align-self: end;
  }

  .content-text {
    padding: 2rem;
  }
  .content-text h2,
  .content-text p {
    padding: 0;
  }

  .content-photo {
    position: relative;
    grid-row: span 2;
    transform: translate(-10%, -20%);
  }

  .photo-desktop {
    display: block;
    width: 25rem;
    margin: 0;
    float: none;
  }

  .content-photo-name {
    display: block;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    font-size: 2.5rem;
    font-family: "Playfair Display", serif;
    white-space: nowrap;
  }
}
