.header-hero {
  background: linear-gradient(
    165deg,
    var(--secondary) 0%,
    var(--secondary) 50%,
    var(--primary) 50%,
    var(--primary) 100%
  );
  padding: 1.5rem;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  position: relative;
}

.header-hero::after {
  content: "";
  display: block;
  clear: both;
}

.photo {
  width: 30rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.name {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  white-space: nowrap;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.content h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 300;
}
.content p {
  font-family: Roboto;
  color: var(--text-secondary);
  font-size: 1.3rem;
  font-weight: 300;
}

.hero-links {
  display: flex;
  gap: 0.5rem;
}
a img {
  width: 2.5rem;
  height: 2.5rem;
}

@media (min-width: 768px) {
  .photo {
    float: left;
    width: 220px;
    margin-right: 2rem;
  }

  .content {
    font-size: 1.05rem;
    line-height: 1.6;
  }
}
