.site-header {
  background: linear-gradient(
    165deg,
    var(--secondary) 0%,
    var(--secondary) 50%,
    var(--primary) 50%,
    var(--primary) 100%
  );
}

.hero-img {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.hero-img img {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}
.img-name {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  white-space: nowrap;
}
section.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 1rem;
}

.hero-text h2 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: 500;
}

.hero-text p {
  font-family: Roboto;
  font-size: 1.5rem;
  color: var(--text-secondary);
}

.hero-links {
  display: flex;
  gap: 0.5rem;
}
a img {
  width: 2.5rem;
  height: 2.5rem;
}


