.site-header {
  background: linear-gradient(
    153deg,
    var(--secondary) 0%,
    var(--secondary) 50%,
    var(--primary) 50%,
    var(--primary) 100%
  );
}

.hero-links {
  display: flex;
}
a img {
  width: 30px;
  height: 30px;
}

.hero-img {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.hero-img img {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}
.img-name {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  white-space: nowrap;
}
