#projects {
  padding: 2rem 1rem;
}
.container {
  display: flex;
  /*align-items: center;*/
  flex-direction: column;
}

.projects-grid {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.project-card {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  min-height: 23rem;
  padding-bottom: 1rem;
}
.project-card > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 0.5rem 1rem 0 1rem;
}
.project-header h3 {
  font-family: "Playfair Display", serif;
  overflow: hidden;
  font-weight: 600;
  font-size: 1rem;

  max-width: 12rem;
}
.project-links {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.project-links img {
  width: 1.5rem;
}
.project-card p {
  color: var(--text-secondary);
  padding: 0.5rem 1rem 0 1rem;
}

@media (min-width: 1440px) {
  .projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .container {
    padding: 3rem;
  }
}
