@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  text-rendering: optimizeLegibility;
  background-color: var(--primary);
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}


a {
  text-decoration: none;
  color: inherit;
}


button {
  background: none;
  border: none;
  cursor: pointer;
}
