*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  text-rendering: optimizeLegibility;
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}


a {
  text-decoration: none;
  color: inherit;
}


button {
  background: none;
  border: none;
  cursor: pointer;
}
